.main-wrapper {
  @apply w-full  relative bg-primary;

  .background {
    @apply relative top-0 left-0 min-h-[460px] bg-no-repeat;
    background: url(https://h5static.dewucdn.com/node-common/cf582f4d-9e78-6e1b-2893-0f18eebbd383-2880-920.png);

    .document {
      @apply relative text-[#fff] max-w-[1440px] min-w-[1240px] h-[460px] mx-auto my-0;

      .topBox {
        @apply w-full absolute h-[90px] z-[99] pointer-events-none;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.35), transparent);
      }

      img {
        cursor: pointer;
      }

      .documentLeft {
        margin: 0px 177px;
      }

      .carouselRight {
        @apply flex justify-between items-center gap-5 mr-[168px];

        .posterRollUp {
          animation: rollUp 12s linear infinite;
          will-change: transform;
        }

        .posterRollUp:hover {
          animation-play-state: paused;
        }

        .posterRollDown {
          animation: rollDown 12s linear infinite;
          will-change: transform;
        }

        .posterRollDown:hover {
          animation-play-state: paused;
        }
      }
    }
  }
}

:where(.css-dev-only-do-not-override-l9pxc0).ant-carousel {
  @apply w-[140px] h-[460px] pt-[80px];
}

@keyframes rollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes rollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
